<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NOC Prices</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode:'class',
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <style>
        *{
            transition: ease-in-out 0.1s;
        }
        body{
            overflow-x: hidden;
        }
        table tr{
            padding: 5px;
            margin:2px;
        }
        table td,th{
            padding: 10px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="Body dark">
        <section class="bg-white dark:bg-slate-800 flex space-y-4 font-sans w-96 items-center flex-col h-screen w-screen">
            <div class="flex w-screen items-center justify-center space-x-20">
                <h1 class="dark:text-white  text-lg font-bold text-slate-900 px-15 py-5 ">Retail Selling Prices of Petroliums By NOC</h1>
                <button class="button bg-slate-800 font-bold text-white rounded-md my-5 h-10 w-20 dark:bg-white dark:text-slate-800">Mode</button>
            </div>
            <div class="py-20">
                <div class="infotable border-dashed border-2 rounded-md flex-none mx-auto my-200 hover:border-blue-500 hover:border-solid dark:text:white">
                        {{table|safe}}
                </div>
                <p class="text-center  my-10 py-10 font-semibold text-slate-500 dark:text-slate-400">Visual representation of the above prices are plotted as:</p>
            </div>
        </section>
        <section class="bg-white dark:bg-slate-800 font-sans items-center w-screen">
            <img class="dark:invert" width="1500" src="{{ url_for('static', filename ='images/rs.png')}}" alt="pic loaded?">
            <p class="text-center py-10 font-semibold text-slate-500 dark:text-slate-400">Date updated: {{date}}</p>
        </section>
    </div>
    <script>
        let btn = document.querySelector('.button');
        let b = document.querySelector('.Body');

        let togglehandler = () =>{
            b.classList.toggle('dark')
        };
        btn.addEventListener('click',togglehandler)
  </script>
</body>
</html>